# --------------------------------------------------
# Python general
# --------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv
env/
venv/
ENV/
.ipynb_checkpoints/

# --------------------------------------------------
# OS / Editor junk
# --------------------------------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# --------------------------------------------------
# Streamlit
# --------------------------------------------------
.streamlit/cache/
.streamlit/static/

# --------------------------------------------------
# Logs
# --------------------------------------------------
logs/
*.log

# --------------------------------------------------
# Datasets (local only)
# --------------------------------------------------
smartvision_dataset/



# --------------------------------------------------
# Misc
# --------------------------------------------------
*.tmp
*.bak
*.old


untitled*
draft*