streamlit
ultralytics
opencv-python-headless
numpy
pillow
pandas
scikit-learn
matplotlib
seaborn
python-multipart
tqdm
requests
pyyaml
huggingface-hub
datasets
protobuf<4
tensorflow==2.15.0
keras==2.15.0
ultralytics
streamlit
numpy
pillow
pandas


